<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Recuperar Clave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Correo -->
  <ion-item lines="full">
    <ion-label position="floating">Ingresa tu correo para recuperación</ion-label>
    <ion-input type="email" [(ngModel)]="txt_correo"></ion-input>
  </ion-item>

  <!-- Clave (visible solo si existe) -->
  <ion-item *ngIf="existe" lines="full">
    <ion-label>Clave</ion-label>
    <ion-input type="password" [(ngModel)]="txt_clave" (focusout)="vclave()" placeholder="Ingresa una nueva clave"></ion-input>
  </ion-item>

  <!-- Confirmar Clave (visible solo si existe) -->
  <ion-item *ngIf="existe" lines="full">
    <ion-label>Confirmar Clave</ion-label>
    <ion-input type="password" [(ngModel)]="txt_cclave" (focusout)="vclave()" placeholder="Confirma tu nueva clave"></ion-input>
    <ion-label color="danger">{{mensaje}}</ion-label>
  </ion-item>

  <!-- Botones -->
  <div class="ion-padding-top">
    <ion-button *ngIf="!existe" expand="block" color="success" shape="round" (click)="consultar()">Consultar</ion-button>
    <ion-button *ngIf="existe" expand="block" color="success" shape="round" (click)="guardar()">Guardar</ion-button>
  </div>

</ion-content>

