<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <!-- Cedula Input -->
  <ion-item class="input-item">
    <ion-label position="floating">Cédula</ion-label>
    <ion-input type="text" [(ngModel)]="txt_cedula" (focusout)="vcedula()"></ion-input>
  </ion-item>

  <!-- Nombre Input -->
  <ion-item class="input-item">
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="txt_nombre"></ion-input>
  </ion-item>

  <!-- Apellido Input -->
  <ion-item class="input-item">
    <ion-label position="floating">Apellido</ion-label>
    <ion-input type="text" [(ngModel)]="txt_apellido"></ion-input>
  </ion-item>

  <!-- Correo Input -->
  <ion-item class="input-item">
    <ion-label position="floating">Correo</ion-label>
    <ion-input type="email" [(ngModel)]="txt_correo"></ion-input>
  </ion-item>

  <!-- Clave Input -->
  <ion-item class="input-item">
    <ion-label>Clave</ion-label>
    <ion-input type="password" [(ngModel)]="txt_clave" (focusout)="vclave();"></ion-input>
  </ion-item>

  <!-- Confirmar Clave Input -->
  <ion-item class="input-item">
    <ion-label>Confirmar Clave</ion-label>
    <ion-input type="password" [(ngModel)]="txt_cclave" (focusout)="vclave();"></ion-input>
    <ion-label color="danger" class="error-message">{{mensaje}}</ion-label>
  </ion-item>

  <!-- Buttons -->
  <div class="button-container">
    <ion-button color="success" expand="block" shape="round" (click)="registrar()">Registrar</ion-button>
    <ion-button color="secondary" expand="block" fill="outline" shape="round" (click)="cancelar()">Cancelar</ion-button>
  </div>
  
</ion-content>
