.opciones{
  font-family: 'monospace';
  font-size: 15px;
  text-align: center;
  color: rgb(168, 38, 38);
}

.titulo{
  font-family: 'monospace';
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: rgb(168, 38, 38);
  margin-top: 10px;
}

.etiqueta{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: rgb(211, 75, 75);
  margin-top: 10px;
}