<ion-header [translucent]="true" class="header-gradient">
  <ion-toolbar>
    <ion-title class="title-logo">
      <ion-icon name="calendar" class="logo-icon"></ion-icon>
      Mi Agenda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-background">
  <div class="auth-container">
    <div class="illustration-container">
      <img src="assets/imgs/agendas.png" class="auth-illustration">
    </div>

    <div class="form-container">
      <ion-item lines="none" class="input-item">
        <ion-label position="floating" class="input-label">Usuario</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="txt_usuario"
          class="custom-input"
          enterkeyhint="next"
          autocomplete="username"
        ></ion-input>
      </ion-item>

      <ion-item lines="none" class="input-item">
        <ion-label position="floating" class="input-label">Contraseña</ion-label>
        <ion-input 
          type="password" 
          [(ngModel)]="txt_clave"
          class="custom-input"
          enterkeyhint="done"
          autocomplete="current-password"
        ></ion-input>
      </ion-item>

      <ion-button 
        expand="block" 
        (click)="login()" 
        class="auth-button"
        shape="round"
      >
        <ion-spinner name="dots" *ngIf="cargando"></ion-spinner>
        <span *ngIf="!cargando">Iniciar Sesion</span>
      </ion-button>

      <div class="auth-links">
        <a class="link-text" (click)="crear()">Crear cuenta</a>
        <div class="separator"></div>
        <a class="link-text" (click)="recuperar()">¿Olvidaste tu contraseña?</a>
      </div>
    </div>
  </div>
</ion-content>